
body {
  margin: 0;
  overscroll-behavior-y: none;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(160,50%,80%,0.9);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color: transparent;
}

.md-p {
margin: 16px 0;
line-height: 1.6em;
}

.md-p code {
background-color: #eee;
padding: 0 8px;
}

.md-code-block {
background-color: #f6f6f6;
padding: 8px;
line-height: 1.6em;
font-size: 12px;
overflow: auto;
}

.md-block img {
max-width: 100%;
max-height: 80vh;
}
