
@import url('module/markdown.css');
@import url('app/editor.css');

body {
    margin: 0;
}

body, textarea {
    font-family: Optima, Hiragino Sans GB;
    /* font-weight: bold; */
}

hr {
    margin: 4em 0;
    border: 1px solid rgb(236, 236, 236);
}